{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": false,
                "corejs": 3,
                "useBuiltIns":"entry",
                "modules": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        [
            "component",
            {
                "libraryName": "element-ui",
                "styleLibraryName": "theme-chalk"
            }
        ]
    ]
}